.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

html,
body,
#root {
  height: 100%;
  width: 100%;
  background-color: rgb(53 53 53);
}

.playground-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.playground-container {
  display: flex;
  position: relative;
  /* padding: 10px; */
  flex-direction: column;
  border-radius: 5px;
  background-color: #ffc4c4;
}

.row-container {
  display: flex;
  flex-direction: row;
}

.active-block,
.block-container {
  display: flex;
  position: absolute;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  background-color: #ffefc3;
  margin: 5px;
  height: 50px;
  width: 50px;
}

.active-block {
  background-color: #c3fff4;
  transition: top 0.2s ease-out, left 0.2s ease-out;
}
